@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
/* 中央 */
.center{
    margin-left: 20%;
    margin-top: 13%;
    margin-right: 20%;
    width:60%;
    height:30%;
    background:#58F5F5;
}
.button1{
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    color: darkslategrey;
    background-color: salmon;
    text-align: center;
    font-family: kaiti;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    margin-right: 5px;
    width: 260px;
    height: 35px;
    font-size: 20px;
}
.button{
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    color: darkslategrey;
    background-color: darkorange;
    text-align: center;
    font-family: kaiti;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    margin-right: 5px;
    width: 80px;
    height: 35px;
    font-size: 20px;
    /* font-weight: bold; */
}
a:hover{
    background-color: #DE7903;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}